*{
      padding: 0px;
      margin: 0px;
}
body{
    background-image: url('https://scontent.fhan14-1.fna.fbcdn.net/v/t1.15752-9/239983746_165886839000981_8036848735078354186_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=ae9488&_nc_aid=0&_nc_ohc=p07I7vfV-sgAX_SkIm4&tn=oBYOJCZcEd_IWCfg&_nc_ht=scontent.fhan14-1.fna&oh=a50b17219890aacb6e353e3ae8edd551&oe=61511D89');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;
     align-items: center;
     font-family: 'Poppins',sans-serif;
     font-size: 20px;
 
}
.coutdowns-contain{
      display: flex;
      
}
h1{
    margin: 100px;
}
.big-text{
    font-size: 40px;
    margin: 30px;
    line-height: 1;
}
